*{
    
    padding: 0; margin: 0;
    background-color: greenyellow;
    
}
body {
    background-image: url("img/as.jpg");
}
.tieude{
    padding-top: 5%;
    text-align: center;
}
.body1{
    text-align: center;
    margin: auto;
}
.icon{
    width: 80px;
}
.Btnclick{
    margin: auto;
    
}
.avt{
    width: 200px;
    height: 250px;
}